<template>
	<header>Jira card selection</header>
	<div class="panel-body">
		<select id="selectionMethod" data-bind="visible: selectionMethod.visible, options: selectionMethod.options, optionsText: 'text', value: selectionMethod.value, event: {change: selectionMethod.change}"></select>

		<select id="projectsDropDown" data-bind="visible: projectsDropDown.visible, options: projectsDropDown.options, optionsText: 'text', value: projectsDropDown.value, event: {change: projectsDropDown.change}"></select>

		<select id="sprintsDropDown" data-bind="visible: sprintsDropDown.visible, options: sprintsDropDown.options, optionsText: 'text', value: sprintsDropDown.value, event: {change: sprintsDropDown.change}"></select>

		<select id="rapidBoardsDropDown" data-bind="visible: rapidBoardsDropDown.visible, options: rapidBoardsDropDown.options, optionsText: 'text', value: rapidBoardsDropDown.value, event: {change: rapidBoardsDropDown.change}"></select>

        <select id="rapidBoardSprintsDropDown" data-bind="visible: rapidBoardSprintsDropDown.visible, options: rapidBoardSprintsDropDown.options, optionsText: 'text', value: rapidBoardSprintsDropDown.value, event: {change: rapidBoardSprintsDropDown.change}"></select>
        <input id="csvJiras" data-bind="visible: csvJirasField.visible, value: csvJirasField.value, valueUpdate: 'afterkeydown', event: {keyup: csvJirasField.change}" />

        <select id="xBoardDropDown" data-bind="visible: xBoardDropDown.visible, options: xBoardDropDown.options, optionsText: 'text', value: xBoardDropDown.value, event: {change: xBoardDropDown.change}"></select>

        <select id="xBoardSprints" data-bind="visible: xBoardSprintsDropDown.visible, options: xBoardSprintsDropDown.options, optionsText: 'text', value: xBoardSprintsDropDown.value, event: {change: xBoardSprintsDropDown.change}"></select>
    </div>
</template>