<template>
	<header>Authentication</header>
	<div class="panel-body">
		<label>
			<span>Jira on demand</span>
			<input class="authentication-jira-on-demand" type="checkbox"/>
		</label>
		<label>
			<span>Username</span>
        	<input class="authentication-username" value=""/>
		</label>
		<label>
        	<span>Password</span>
        	<input class="authentication-password" type="password" value=""/>
        </label>
        <label>
        	<span>Jira Location</span>
			<input class="authentication-url" value="https://jira.caplin.com"/>
		</label>
		<button class="authentication-button">Connect</button>
	</div>
</template>