$light-grey: #E9E9E9;
$orange: #FF9900;
$blue: #3299BB;
$grey: #BCBCBC;
$dark-gray: #424242;

$background: $light-grey;
$main-header: $orange;
$main-header-color: $dark-gray;

$section-header-color: $light-grey;
$section-header-background: $dark-gray;

$section-button-background: $orange;