html, body {
	height: 100%;
	font-family: arial;
	background-color: white;
}

* {
	box-sizing: border-box;
}

jcm-app {
	display: block;
	height: 100%;
}

jcm-authentication-panel,
jcm-sprint-selection-panel,
jcm-layout-panel,
jcm-task-selection-panel {
	margin: 0.5rem;
}

panel-header {
	color: $section-header-color;
	background: $section-header-background;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	border-radius: 0.5rem 0.5rem 0 0;
	display: block;
}

panel-body {
	display: block;
	padding: 0.5rem;
	background: silver;
	border-radius: 0 0 0.5rem 0.5rem;
}