html, body {
	height: 100%;
	font-family: arial;
	background-color: white;
}

* {
	box-sizing: border-box;
}

.list {
	max-height: 500px;
	overflow: auto;
}

.request-page {
	background: $background;
	height: 100%;
}

.request-page > header {
	background: $main-header;
	text-align: center;
	height: 2rem;
	line-height: 2rem;
	border-bottom: 0.2rem solid #CC6600;
	color: $main-header-color;
}

section > header {
	color: $section-header-color;
	background: $section-header-background;
	height: 1.5rem;
	line-height: 1.5rem;
	text-align: center;
	border-radius: 0.5rem 0.5rem 0 0;
}

section > .section-body {
	padding: 0.5rem;
}

.selection-panel,
.jira-list-panel {
	display: none;
}

.selection-panel,
.jira-list-panel,
.options-panel,
.example-panel,
.authentication-panel {
	margin-top: 0.5rem;
	background-color: #BCBCBC;
  	border-radius: 0.5rem;
}

.left-side {
	display: inline-block;
	width: calc(100% - 380px);
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.right-side {
	display: inline-block;
	width: 350px;
	position: absolute;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
}

.ticket {
	display: inline-block;
  	position: relative;
}

.page-to-print .ticket {
  	margin: 0.5rem;
}

label {
	display: block;
}

.authentication-panel span {
	display: inline-block;
	width: 130px;
}

.authentication-panel button {
	background-color: $section-button-background;
	border: none;
	height: 30px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: 10px;
}