<template>	
	<label>
		<input checked type="checkbox" id="color" onclick="drawExampleCard()"/>
		<span>Color</span>
	</label>
	<label>
		<input checked type="checkbox" id="qrcode" onclick="drawExampleCard()"/>
		<span>QR Code</span>
	</label>
	<label>
		<input checked type="checkbox" id="parentdescription" onclick="drawExampleCard()"/>
		<span>Parent title</span>
	<label>
	<label>
		<input checked type="checkbox" id="componentdescription" onclick="drawExampleCard()"/>
		<span>Component description</span>
	</label>
	<label>
		<input type="checkbox" id="tagdescription" onclick="drawExampleCard()"/>
		<span>Tag Description</span>
	</label>
	<label>
		<input type="checkbox" id="businessvalue" onclick="drawExampleCard()"/>
    	<span>Business Value</span>
    </label>
    <label>
    	<input type="checkbox" id="epicsEnabled" onclick="drawExampleCard()"/>
		<span>Epics name</span>
	</label>
</template>